*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: "Roboto", sans-serif;
    background: url('backgroun.jpg') center center/cover;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    
    height: 100vh;
    color: white;
}

h1{
    padding: 0 10px;
}
#color-box{
    width: 120px;
    height: 30px;
    background-color: grey;
    border: solid 2px white;
    border-radius: 10px;
}
#change-color-btn{
    border-radius: 5px;
    width: 100px;
    margin: 0 10px;
}